body {
  background-color: #f07057;
}
.mason-image {
  padding: 2px 0 0;
  width: 100%;
  border: 2px solid transparent;
}


.big-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #f7f8ee;
}
.mason-title {
  color: #f7f8ee;
  position: absolute;
  top: 50%;
  left: 25%;
  border: 2px solid #f7f8ee;
  padding: 5px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.54);
  text-align: center;
  width: 50%;
}

.mason-title a {
  color: #f7f8ee;
}
