<div class="container news-container">

    <!-- Design Topic-->
    <div ng-repeat="topic in allTopicNews" ng-if="topNews[topic].length > 0" class="row topic-container">
        <div class="topic-header">
            <h5 class="topic-title">{{topic}}</h5>
        </div>
        <div class="col-sm-4 main-topic-box" ng-repeat="topicObj in topNews[topic].slice(0,1)">
            <div class="inner">
                <a href="" class="topic-image-link">
                    <img ng-src="{{topicObj.thumbnail}}"
                         class="img-responsive topic-img">

                    <div class="overlay">
                        <!-- In case the title is too large cut only the first 50 chars-->
                        <h4>{{topicObj.title.slice(0,50)}}</h4>
                        <span class="small white">{{topicObj.author}} | {{topicObj.published | date : format : timezone}}</span>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6 sub-topic-box"
                     ng-repeat="topicObj in topNews[topic].slice(1,4)">
                    <div class="inner">

                        <a href="">
                            <div class="row">
                                <div class="col-sm-4 image-sub-topic-box">
                                    <img ng-src="{{topicObj.thumbnail}}"
                                         class="img-responsive">
                                </div>
                                <div class="col-sm-8 overlay-sub-topic">
                                    <p class="title-sub-topic-box">{{topicObj.title.slice(0,50)}}</p>
                                    <span class="small">{{topicObj.origin}} | {{topicObj.published | date : format : timezone}}</span>
                                </div>
                            </div>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
